<a href="https://colab.research.google.com/github/leticiaholsback/Aprendizado/blob/main/Operacoes_com_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
labels = ['a','b','c']
minha_lista = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [ ]:
pd.Series(data=minha_lista)
#0,1,2 são os indices dos dados (seriam os numeros das linha no excel)

0    10
1    20
2    30
dtype: int64

In [ ]:
#nesse comando estou pedindo para cirar os indices como eu quero, e nao 0,1,2
#pedi para minha para virar indice e labels seria meu conj de dados
pd.Series(data= labels , index= minha_lista)

10    a
20    b
30    c
dtype: object

In [ ]:
#é o mesmo comando, mas o pandas entende que o primeiro sempre sera o conj de dados(data) e o indice a minha lista
#pçosso apagar o data e index que vai funcionar da mesma forma
pd.Series(labels , minha_lista)

10    a
20    b
30    c
dtype: object

In [ ]:
pd.Series(d)
#d é um dicionario e ja esta com chaves e valores marcados

a    10
b    20
c    30
dtype: int64

In [ ]:
lista_1 = ['a','b','c']

In [ ]:
pd.Series(data=lista_1 , index=(1, 2, 3))

1    a
2    b
3    c
dtype: object

In [ ]:
from numpy.random import randn

***(: DATAFRAME :) ***


---

In [ ]:
df= pd.DataFrame(randn(5,4), index=['A','B','C','D','E'], columns= 'w x y z'.split())

In [ ]:
df

          w         x         y         z
A  0.888467  0.289571 -0.274847 -0.184924
B  1.937338  0.171513 -0.256764  0.444111
C -1.408689 -0.903575 -0.009410  0.347813
D -0.065006  2.637296  1.199762 -0.926975
E  1.481049  1.565009  0.890240 -0.929119

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df[['w']]

          w
A  1.334990
B  0.596102
C -0.597264
D -0.863213
E -2.792778

In [ ]:
df['new'] = df['w']
#incliu a coluna new com os valores da W

In [ ]:
df ['new'] = df['w'] + df['y']
#somei os valores das colunas w e y na new

In [ ]:
df

          w         x         y         z       new
A  0.888467  0.289571 -0.274847 -0.184924  0.613620
B  1.937338  0.171513 -0.256764  0.444111  1.680574
C -1.408689 -0.903575 -0.009410  0.347813 -1.418099
D -0.065006  2.637296  1.199762 -0.926975  1.134756
E  1.481049  1.565009  0.890240 -0.929119  2.371288

In [ ]:
df.drop ('new', axis=1)
#tirar coluna new, mas nao é definitivo, se eu executar df, vai aparecer a coluna new

          w         x         y         z
A  0.888467  0.289571 -0.274847 -0.184924
B  1.937338  0.171513 -0.256764  0.444111
C -1.408689 -0.903575 -0.009410  0.347813
D -0.065006  2.637296  1.199762 -0.926975
E  1.481049  1.565009  0.890240 -0.929119

In [ ]:
df.drop('new', axis=1, inplace=True)
# nesse caso está excluindo definitivamente a coluna new do dataFrame original, toda 'exclusao' anterior
#era como se fosse numa cópia do dataframe orignal. agora foi excluido definitivamente

In [ ]:
df

          w         x         y         z
A  0.888467  0.289571 -0.274847 -0.184924
B  1.937338  0.171513 -0.256764  0.444111
C -1.408689 -0.903575 -0.009410  0.347813
D -0.065006  2.637296  1.199762 -0.926975
E  1.481049  1.565009  0.890240 -0.929119

In [ ]:
df.loc['A']
# aqui procoura a linha A, e ele vai mostrar os valores e as colunas respectivas da linha A

w    0.888467
x    0.289571
y   -0.274847
z   -0.184924
Name: A, dtype: float64

In [ ]:
df.iloc[0,2]
#trabalho valores de forma numerica.Sempre passa primeiro o indice da linha e dpeois o indica da coluna
#linha 0 coluna 2 (linah 1 e coluna 3)

-0.2748470795495284

In [ ]:
df > 0
# pega os valores do DataFrame e coloca False nos que forem menor que 0 e True nos maiores que 0

       w      x      y      z
A   True  False  False  False
B   True   True   True  False
C  False  False   True  False
D  False  False  False   True
E  False  False  False  False

In [ ]:
df[ df>0]
#aqui mostra O DATAFRAME quando ele for maior que zero. apenas os numeros maiores

          w        x         y         z
A  1.334990      NaN       NaN       NaN
B  0.596102  0.33981  0.120804       NaN
C       NaN      NaN  0.079768       NaN
D       NaN      NaN       NaN  0.746663
E       NaN      NaN       NaN       NaN

In [ ]:
df[ 'y']> 0
# todos os valores de Y maiores que 0, essa forma de analisar se assemelha a um filtro do excel

A    False
B     True
C     True
D    False
E    False
Name: y, dtype: bool

In [ ]:
df

          w         x         y         z
A  1.334990 -2.093836 -0.357411 -0.368782
B  0.596102  0.339810  0.120804 -0.171067
C -0.597264 -0.046280  0.079768 -1.108920
D -0.863213 -1.038768 -0.132590  0.746663
E -2.792778 -0.276015 -1.330277 -1.060266

In [ ]:
df[df['y']>0]
# ATENÇÃO, pedi para filtrar apenas os valores de Y maior que 0 no fata frame
# ou seja na coluna Y tem apenas 2 valores maiores que 0, e mostrou, excluiu linha a,d,e que sao menores que 0 e
#coinsequentemente mostrou os outros valores das outras colunas do dt, mas as da coluna y menores que 0, exclui

          w        x         y         z
B  0.596102  0.33981  0.120804 -0.171067
C -0.597264 -0.04628  0.079768 -1.108920

In [ ]:
df[(df['y']>0) & (df['w']>0)]
# analise bem os pares de coclhetes e parenteses
#mostrou apenas a linha que tem em ambas os valores maiores que 0

          w        x         y         z
B  0.596102  0.33981  0.120804 -0.171067

In [ ]:
(df['y']>0) & (df['w']>0)
#se tirar o df[] do inicio ele mostra como se fosse booleano nas colunas, ou seja apenas a B possui valores 
#maiores que 0 em y e w

A    False
B     True
C    False
D    False
E    False
dtype: bool

In [ ]:
df[~(df['y'] > 0) & ~(df['w'] > 0)]
# aqui mostrou com o ~(not) apenas os valores que NÃO SÃO maiores que 0 nas colunas y e w. o mesmo poderia ser usado com o <

          w         x         y         z
D -0.863213 -1.038768 -0.132590  0.746663
E -2.792778 -0.276015 -1.330277 -1.060266

In [ ]:
df[(df['y']<0) & (df['w']<0)]
# mesmo resultado do cod acima, sem usar o ~

          w         x         y         z
D -0.863213 -1.038768 -0.132590  0.746663
E -2.792778 -0.276015 -1.330277 -1.060266

In [ ]:
df.loc[['A', 'B'], ['w']]
#quero valores das linhas a e b da coluna w

          w
A  1.334990
B  0.596102

In [ ]:
df.iloc[:-1, 1:]
#tirei a ultima linha e a primeira coluna

          x         y         z
A -2.093836 -0.357411 -0.368782
B  0.339810  0.120804 -0.171067
C -0.046280  0.079768 -1.108920
D -1.038768 -0.132590  0.746663

:) **Operações com Indices** (::

---

In [ ]:
df.index
#linhas

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
df.columns
#colunas

Index(['w', 'x', 'y', 'z'], dtype='object')

In [ ]:
df

          w         x         y         z
A  1.334990 -2.093836 -0.357411 -0.368782
B  0.596102  0.339810  0.120804 -0.171067
C -0.597264 -0.046280  0.079768 -1.108920
D -0.863213 -1.038768 -0.132590  0.746663
E -2.792778 -0.276015 -1.330277 -1.060266

In [ ]:
df.reset_index()
#mostra a numeraçãodas linhas

  index         w         x         y         z
0     A  1.334990 -2.093836 -0.357411 -0.368782
1     B  0.596102  0.339810  0.120804 -0.171067
2     C -0.597264 -0.046280  0.079768 -1.108920
3     D -0.863213 -1.038768 -0.132590  0.746663
4     E -2.792778 -0.276015 -1.330277 -1.060266

In [ ]:
df.reset_index(inplace=True)
#ATENÇÃO 
#dessa forma, inplace, diferente do iloc, ele muda o dataframe. Executando esse código o dataframe vai passar a ter
#numeracao das linhas e o index com as letras das linhas

In [ ]:
df

  index         w         x         y         z
0     A  1.334990 -2.093836 -0.357411 -0.368782
1     B  0.596102  0.339810  0.120804 -0.171067
2     C -0.597264 -0.046280  0.079768 -1.108920
3     D -0.863213 -1.038768 -0.132590  0.746663
4     E -2.792778 -0.276015 -1.330277 -1.060266

In [ ]:
df.set_index('index', inplace=True)
#ATENÇÃO 
#agora dessa forma o data frame volta para a versao anterior, aqui, estou excluindo a coluna  com os numeros da linha e deixando apenas a index

In [ ]:
df

              w         x         y         z
index
A      1.334990 -2.093836 -0.357411 -0.368782
B      0.596102  0.339810  0.120804 -0.171067
C     -0.597264 -0.046280  0.079768 -1.108920
D     -0.863213 -1.038768 -0.132590  0.746663
E     -2.792778 -0.276015 -1.330277 -1.060266

In [ ]:
novo_ind = ' LE TI CI A $ '.split()
#quando for inserir uma nova coluna, deve ter a mesma quantia de linha

In [ ]:
novo_ind

['LE', 'TI', 'CI', 'A', '$']

In [ ]:
df['a'] = novo_ind
#inseri a coluna 'a' com os valores de novo_ind

In [ ]:
df

              w         x         y         z   a
index
A      1.334990 -2.093836 -0.357411 -0.368782  LE
B      0.596102  0.339810  0.120804 -0.171067  TI
C     -0.597264 -0.046280  0.079768 -1.108920  CI
D     -0.863213 -1.038768 -0.132590  0.746663   A
E     -2.792778 -0.276015 -1.330277 -1.060266   $

In [ ]:
df.set_index('a')
#passou a nova coluna para o inicio e o index, abcd foi retirado, apenas na visualização

           w         x         y         z
a
LE  1.334990 -2.093836 -0.357411 -0.368782
TI  0.596102  0.339810  0.120804 -0.171067
CI -0.597264 -0.046280  0.079768 -1.108920
A  -0.863213 -1.038768 -0.132590  0.746663
$  -2.792778 -0.276015 -1.330277 -1.060266

In [ ]:
df

              w         x         y         z   a
index
A      1.334990 -2.093836 -0.357411 -0.368782  LE
B      0.596102  0.339810  0.120804 -0.171067  TI
C     -0.597264 -0.046280  0.079768 -1.108920  CI
D     -0.863213 -1.038768 -0.132590  0.746663   A
E     -2.792778 -0.276015 -1.330277 -1.060266   $

In [ ]:
df.reset_index().set_index('a')
#agora aqui manteve o index Abcd... e o novo feito com a letra a

   index         w         x         y         z
a
LE     A  1.334990 -2.093836 -0.357411 -0.368782
TI     B  0.596102  0.339810  0.120804 -0.171067
CI     C -0.597264 -0.046280  0.079768 -1.108920
A      D -0.863213 -1.038768 -0.132590  0.746663
$      E -2.792778 -0.276015 -1.330277 -1.060266

**Hierarquia de Indices e Indices Multiplos**

In [ ]:
# Níveis de Índice
outside = ['G1','G1','G1','G2','G2','G2'] #lista 1
inside = [1,2,3,1,2,3] #lista 2
hier_index = list(zip(outside,inside)) # aqui esta zipando as 2 listas

In [ ]:
hier_index # se eu executo somente a variavel que zipei ele passa as duas listas unidas em tupla

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [ ]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
#criando um indice multiplo

In [ ]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [ ]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
#aqui criei um dataframe com dados aleatorios do randn, com 6 linhas e duas colunas de nome a e b
df

             A         B
G1 1  0.979558 -1.159081
   2  1.385935 -0.746219
   3 -1.417632  0.412838
G2 1 -3.880689  0.613256
   2  0.521784  0.662003
   3 -0.176886 -0.776859

In [ ]:
df.loc['G1']
#dessa forma pegou apenas os dados do indice G1 do dataframe

          A         B
1  0.979558 -1.159081
2  1.385935 -0.746219
3 -1.417632  0.412838

In [ ]:
df.loc['G1'].loc[1]
#aqui os dados da G1 apenas da linha 1

A    0.979558
B   -1.159081
Name: 1, dtype: float64

In [ ]:
df.index.names= ['Grupo', 'Numeros']
df

                      A         B
Grupo Numeros
G1    1        0.979558 -1.159081
      2        1.385935 -0.746219
      3       -1.417632  0.412838
G2    1       -3.880689  0.613256
      2        0.521784  0.662003
      3       -0.176886 -0.776859

In [ ]:
df.xs(1, level='Numeros')

#o xs funciona parecido com o loc, mas o loc puxa o 1º indice, com ele posso acessaroutro nivel de indice

              A         B
Grupo
G1     0.979558 -1.159081
G2    -3.880689  0.613256

**Dados ausentes**

In [ ]:
df = pd.DataFrame({'A': [1,2,np.nan],
                  'B': [5,np.nan,np.nan],
                  'C': [1,2,3]})
#np.nan é um metodo do numpy que executa como valor ausente
#como A sendo na linha 1=1 na linha 2=2 e na linha 3=NaN
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
df.dropna()
#jogafora linhas ausentes, ou seja drop(fora) na(nan)
# mas se tem outras linhas com NAN nao aparecem na seleção

     A    B  C
0  1.0  5.0  1

In [ ]:
df.dropna(axis=1)
# aqui estou pedindo para cortar as colunas que possuem Nan

   C
0  1
1  2
2  3

In [ ]:
#seria um limite de numeros ausentes para que a coluna ou linha seja descartada
df.dropna(thresh=2)
# nesse caso com 2 ou mais pedi para descartar, excluiu a linha 3

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [ ]:
df.fillna(value='Leticia')
#fillna = preencher dados com Nan

         A        B  C
0      1.0      5.0  1
1      2.0  Leticia  2
2  Leticia  Leticia  3

In [ ]:
#ou

In [ ]:
df.fillna(value='Leticia')

         A        B  C
0      1.0      5.0  1
1      2.0  Leticia  2
2  Leticia  Leticia  3

In [ ]:
#assim posso usar indices matematicos
df['A'].sum()
#1 + 2

3.0

In [ ]:
df['A'].mean()

1.5

In [ ]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [ ]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
#preencher o valor NaN pelo ultimo valor observado
df.ffill()
#  na coluna B, linha 1 e 2 foi substituido pelo ultimo valor valido da coluna e na A pelo valor da A1

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3

**GROUP BY** TAMBÉM TEM NO SQL

In [ ]:
import pandas as pd
# Cria um DataFrame
data = {'Classe':['Júnior','Júnior','Pleno','Pleno','Sênior','Sênior'],
       'Nome':['Jorge','Carlos','Roberta','Patrícia','Bruno','Vera'],
       'Venda':[200,120,340,124,243,350]}

In [ ]:
df = pd.DataFrame(data)
df

   Classe      Nome  Venda
0  Júnior     Jorge    200
1  Júnior    Carlos    120
2   Pleno   Roberta    340
3   Pleno  Patrícia    124
4  Sênior     Bruno    243
5  Sênior      Vera    350

In [ ]:
df.groupby('Classe')

In [ ]:
#ele agrupa depois aplico alguma operação e depois ele expande
group= df.groupby('Classe')
group.sum()
#defini uma variavel como group e ele pegou o datafram e uniu os valores comuns da coluna Classe e somou

        Venda
Classe
Júnior    320
Pleno     464
Sênior    593

In [ ]:
group.mean()

        Venda
Classe
Júnior  160.0
Pleno   232.0
Sênior  296.5

In [ ]:
group.min()
#poderia ser esse código também \\df.groupby('Classe').min()\\
#pegou o minimo de cada classe

            Nome  Venda
Classe
Júnior    Carlos    120
Pleno   Patrícia    124
Sênior     Bruno    243

In [ ]:
group= df.groupby('Nome')
group.sum()
#nao fez sentido

          Venda
Nome
Bruno       243
Carlos      120
Jorge       200
Patrícia    124
Roberta     340
Vera        350

In [ ]:
df2=df.copy() # aqui eu criei uma copia do df como df2
# se eu fizer esse código df2=df() estarei fazendo um ponteiro, ou seja, deixando o df igual ao df2, entao td alteração no df 2 vai alterar tbm o df

In [ ]:
df2['Venda'] = [123, 456, 789, 147, 258, 369]

In [ ]:
df

   Classe      Nome  Venda
0  Júnior     Jorge    200
1  Júnior    Carlos    120
2   Pleno   Roberta    340
3   Pleno  Patrícia    124
4  Sênior     Bruno    243
5  Sênior      Vera    350

In [ ]:
df2

   Classe      Nome  Venda
0  Júnior     Jorge    123
1  Júnior    Carlos    456
2   Pleno   Roberta    789
3   Pleno  Patrícia    147
4  Sênior     Bruno    258
5  Sênior      Vera    369

In [ ]:
df3=pd.concat([df,df2])
#ja estudei isso na uninter, aqui eu concatenei os valores dos dos dataframes

In [ ]:
df3

   Classe      Nome  Venda
0  Júnior     Jorge    200
1  Júnior    Carlos    120
2   Pleno   Roberta    340
3   Pleno  Patrícia    124
4  Sênior     Bruno    243
5  Sênior      Vera    350
0  Júnior     Jorge    123
1  Júnior    Carlos    456
2   Pleno   Roberta    789
3   Pleno  Patrícia    147
4  Sênior     Bruno    258
5  Sênior      Vera    369

In [ ]:
df3.groupby(['Classe', 'Nome']).sum()
#que gracinha, organizou em somatoria por classe, e inseriu a observação nome. Se no lugar de nomes fossem meses, teria uma informação bem bacana, gerou 2 indices

                 Venda
Classe Nome
Júnior Carlos      576
       Jorge       323
Pleno  Patrícia    271
       Roberta    1129
Sênior Bruno       501
       Vera        719

**MERGE, CONCAT e JOIN** 
ja vi isso na facul

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3])
# aqui ele uniu os 3 dataframe, um embaixo do outro, eu poderia ter usado ~= bases

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3],axis=0)
# ficaexatamente igual ao dtf concatenado

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3],axis=1)
# concatena na horizontal.... mas pra mim é na transversal

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

se tem dois data fram que compartilha de colunas axis=0 e se compartilha linhas axis=1

In [ ]:
esquerda = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
direita = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
esquerda

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
direita

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [ ]:
pd.merge (esquerda,direita)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [ ]:
pd.merge(esquerda,direita, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [ ]:
pd.merge(esquerda,direita,how='inner',on='key')
#A função ** mesclar ** permite que você mescle os quadros de dados juntos usando uma lógica semelhante à mesclagem de tabelas SQL juntas.mas ficou igual...
#vou usar outro exemplo

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [ ]:
esquerda = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
direita = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
esquerda

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [ ]:
direita

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [ ]:
pd.concat([esquerda,direita])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0  NaN  NaN
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2  NaN  NaN
3   K2   K1   A3   B3  NaN  NaN
0   K0   K0  NaN  NaN   C0   D0
1   K1   K0  NaN  NaN   C1   D1
2   K1   K0  NaN  NaN   C2   D2
3   K2   K0  NaN  NaN   C3   D3

In [ ]:
pd.merge(esquerda, direita, on=['key1', 'key2'])
#organizei de  forma que deixei os keys na frente e os valores das demais colunas nas sequencias
#mas olha, ele usou como base o dr esquerda entao, ele vai unir o que é igual, esqeuda linha 0 é k0,k0, entao ele vai achar na direita uma linha com k0 k0
# pra entao mesclar na linha, logo vem k0 k1, mas no dt da dirita, nao tem k0 k1, então, ele nao coloca esses valores
#depois vem k1 k0, e na direita ele encontra duas linhas com esses valores, entao ele faz uma linha com os valores da esquerda + ou outros que achou na direita
# e repete o valir da esquerda + os segundos valores achados na direita
# logo na esqeurda vem K2 K1, mas nao tem na direita, entao ele exclui essa linha
#DESSA FORMA DE USO MERGE, ELE APENAS MOSTRA AS CHAVES QUE SE ASSEMELHAM NOS DOIS DT, POR EXEMPLO, DUAS BASES DE DADOS QUE EU QUEIRA SABER DETERMINADO PRODRUTO
#EM DETERMINADO MES, CONSIGO TER UMA VISAO USANDO ESSA OPERAÇÃO

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [ ]:
esquerda

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [ ]:
direita

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [ ]:
pd.merge(esquerda, direita, how='outer', on=['key1', 'key2'])
#how seria como eu quero, e com o uso do outer fcaria assim QUERO TODOS OS DADOS DA ESQUERDA E TODOS DA DIREITA, USE O NaN onde for preciso preencher

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [ ]:
pd.merge(esquerda, direita, how='right', on=['key1', 'key2'])
#exclui a linha 1 e 3 do dataframe esquerda e manteve o dataframe direita intacto

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [ ]:
direita

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [ ]:
pd.merge(esquerda, direita, how='left', on=['key1', 'key2'])
#manteve todas as linhas do dataframe esquerda, aumentou a linha 4, pois os valores k1 e k0 repetem no df da direita,mas usou todos os valores da esquerda
# e nao inseirou os valores da linha k2 k0 da direita porque nao tem esse valor na esquerda

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

**JOIN** JUNTAR

In [ ]:
esquerda = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

direita = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
esquerda

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [ ]:
direita

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [ ]:
esquerda.join(direita)
# aqui ele jogou a coluna key para linha e as linhas viraram colunas e os valores da linha 3 original nao foi inserido

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [ ]:
esquerda.join(direita, how='outer')
# aqui criou um K3 para que todos os valores fossem inseridos no dataframe, mas as linhas do df esquerda k2 k1 e k1 k0 da direita nao foram inseridos pq nao 
# aparecem naos dois dataframe

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

**Operações com DataFrames**

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
df.info() #mostra as informações, linhas, colunas. A 3 ficou como string pq coloquei ela no código com stg

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      int64
 1   col2    4 non-null      int64
 2   col3    4 non-null      object
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes

In [ ]:
df.memory_usage()

Index    128
col1      32
col2      32
col3      32
dtype: int64

In [ ]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
df['col2'].unique()
#pega apenas os valores da coluna pedida e insere em lista, como array. MAS NAO REPETE VALORES!!!!!

array([444, 555, 666])

In [ ]:
df['col2'].nunique() # mostra quantos valores unicos tem no df

3

In [ ]:
df['col2'].value_counts() # aqui ja mostra que o valor 444 aparece duas vezes no df

444    2
555    1
666    1
Name: col2, dtype: int64

Aplicando funções dentro do dataframe

In [ ]:
def funcao(x):
  return x ** 2 + 3
  #fiz uma função que x seja elevado ao quadrado mais 3

In [ ]:
df['col1'].apply(funcao)
# o comando apply jogaa função pra dentro e vai calcular se ela tem um unico imput(x) e vai calcular o que pedi na função em cada elemento da df e devolve
# em series contendo a resposta

0     4
1     7
2    12
3    19
Name: col1, dtype: int64

In [ ]:
df['col1_calc']= df['col1'].apply(funcao)
# defini uma função para gravar o valor calculado numa nova coluna
df

   col1  col2 col3  col1_calc
0     1   444  abc          4
1     2   555  def          7
2     3   666  ghi         12
3     4   444  xyz         19

In [ ]:
df['col1'].apply(lambda x: x **2 + 3)
# uso da lambda é, criar uma função que vai exister apenas aqui, inseta ter que fazer uma funçaõo separada para chegar no resultado

0     4
1     7
2    12
3    19
Name: col1, dtype: int64

In [ ]:
df['col1'].sum() # soma

In [ ]:
df['col1'].mean() #media

2.5

In [ ]:
df['col1'].product() # produto, td multiplicados

24

In [ ]:
df['col1'].std() #desvio padrao

1.2909944487358056

In [ ]:
df['col1'].idxmax() #qual é o index que eu tenho o valor maximo

3

In [ ]:
df['col1'].max()

4

In [ ]:
df['col1'].min()

1

In [ ]:
df[df['col2']==444]
#mostoru que na coluna 2 tem dois valores com 444

   col1  col2 col3  col1_calc
0     1   444  abc          4
3     4   444  xyz         19

In [ ]:
#somatorio da coluna 1 sempre que a coluna 2 foi = a 444. Ouseja somou a coluna1 linha0 + linha 3
df[df['col2']==444][ 'col1'].sum ()

5

In [ ]:
# Selecione do DataFrame usando critérios de várias colunas
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [ ]:
newdf

   col1  col2 col3  col1_calc
3     4   444  xyz         19

In [ ]:
def times2(x):
    return x*2

In [ ]:
df

   col1  col2 col3  col1_calc
0     1   444  abc          4
1     2   555  def          7
2     3   666  ghi         12
3     4   444  xyz         19

In [ ]:
df.sort_values(by='col2')

   col1  col2 col3  col1_calc
0     1   444  abc          4
3     4   444  xyz         19
1     2   555  def          7
2     3   666  ghi         12

In [ ]:
data= {'A': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar',],
       'B':['one', 'one', 'two', 'two', 'one', 'one'],
       'C': ['x','y','x','y','x','y'],
       'D': [1,3,2,5,4,1]}

df= pd.DataFrame(data)

In [ ]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [ ]:
dict_map= {'one': 1, 'two':2}
# estou pedindo para que todo valor one se transforme em 1

In [ ]:
df['B'].map(dict_map)
#resultado do cod acima,todo one da tabela B ficou 1 e two ficou 2

0    1
1    1
2    2
3    2
4    1
5    1
Name: B, dtype: int64

In [ ]:
df['E'] = df['B'].map(dict_map)
#aqui criei uma coluna E com asubstituicao feita no código acima. A B manteve os valores e a E foi criada
df

     A    B  C  D  E
0  foo  one  x  1  1
1  foo  one  y  3  1
2  foo  two  x  2  2
3  bar  two  y  5  2
4  bar  one  x  4  1
5  bar  one  y  1  1

In [ ]:
df.pivot_table(index='A', columns='B', values='D')
#criando uma tabela pivotada, é uma forma que o panda da para reeorganizar os dados em função de algo.

B    one  two
A
bar  2.5  5.0
foo  2.0  2.0

In [ ]:
df.memory_usage()
#informa a quantidade de memória utilizada por cada coluna de um data frame

Index    128
A         48
B         48
C         48
D         48
E         48
dtype: int64

In [ ]:
df.value_counts()
# retorna os valores únicos e suas respectivas quantidades em um data frame

A    B    C  D  E
bar  one  x  4  1    1
          y  1  1    1
     two  y  5  2    1
foo  one  x  1  1    1
          y  3  1    1
     two  x  2  2    1
dtype: int64

In [ ]:
df.sort_values(by='D')
#ordena, de acordo com a ordem crescente de uma coluna “D” passada como parâmetro, os dados de um data frame

     A    B  C  D  E
0  foo  one  x  1  1
5  bar  one  y  1  1
2  foo  two  x  2  2
1  foo  one  y  3  1
4  bar  one  x  4  1
3  bar  two  y  5  2

**Serie Temporal**
*conj de dados onde cada linha representa um modelo diferente de tempo*

In [ ]:
import pandas as pd
numero_de_dias = 100
datas = pd.date_range(start='1/1/2021', periods=numero_de_dias) #inicio em 1/1/21 e qts periodos em funcao dessa data
# pd.date_range criou valores espacados no tempo

In [ ]:
datas
#preencheu ate 100 dia depois

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13',
               '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21',
               '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25',
               '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01',
               '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05',
               '2021-03-06', '2021-03-07', '2021-03-08', '2021-03-09',
               '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-13',
               '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17',
               '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21',
               '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25',
               '2021-03-26', '2021-03-27', '2021-03-28', '2021-03-29',
               '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-02',
               '2021-04-03', '2021-04-04', '2021-04-05', '2021-04-06',
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(range(numero_de_dias), columns=['number'], index=datas)
df.index.name = 'datas'
#deixou o dataframe de 0 a 99 linhas, as colunas ficaram com as datas

In [ ]:
df

            number
datas
2021-01-01       0
2021-01-02       1
2021-01-03       2
2021-01-04       3
2021-01-05       4
...            ...
2021-04-06      95
2021-04-07      96
2021-04-08      97
2021-04-09      98
2021-04-10      99

[100 rows x 1 columns]

In [ ]:
df.index
# o indice tem datas do tipo datetime, que faz parte das bibliotecas do python

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13',
               '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21',
               '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25',
               '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01',
               '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05',
               '2021-03-06', '2021-03-07', '2021-03-08', '2021-03-09',
               '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-13',
               '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17',
               '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21',
               '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25',
               '2021-03-26', '2021-03-27', '2021-03-28', '2021-03-29',
               '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-02',
               '2021-04-03', '2021-04-04', '2021-04-05', '2021-04-06',
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-10'],
              dtype='datetime64[ns]', name='datas', freq='D')

In [ ]:
df.index[11]
#mostra as informações que estao na linha 0

Timestamp('2021-01-12 00:00:00', freq='D')

In [ ]:
df.index[11].day

12

In [ ]:
df.index[11].month

1

In [ ]:
df.index[11].year

2021

In [ ]:
df.index[11].hour

0

In [ ]:
df[df.index.month == 1]
#quero todos os valores do mes 1

            number
datas
2021-01-01       0
2021-01-02       1
2021-01-03       2
2021-01-04       3
2021-01-05       4
2021-01-06       5
2021-01-07       6
2021-01-08       7
2021-01-09       8
2021-01-10       9
2021-01-11      10
2021-01-12      11
2021-01-13      12
2021-01-14      13
2021-01-15      14
2021-01-16      15
2021-01-17      16
2021-01-18      17
2021-01-19      18
2021-01-20      19
2021-01-21      20
2021-01-22      21
2021-01-23      22
2021-01-24      23
2021-01-25      24
2021-01-26      25
2021-01-27      26
2021-01-28      27
2021-01-29      28
2021-01-30      29
2021-01-31      30

In [ ]:
ultima_data = df.index[-1]

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [ ]:
df['Mes'] = df.index.month

In [ ]:
df

            number  Mes
datas
2021-01-01       0    1
2021-01-02       1    1
2021-01-03       2    1
2021-01-04       3    1
2021-01-05       4    1
...            ...  ...
2021-04-06      95    4
2021-04-07      96    4
2021-04-08      97    4
2021-04-09      98    4
2021-04-10      99    4

[100 rows x 2 columns]

In [ ]:
import datetime

In [ ]:
df [df.index > datetime.datetime (2021, 2, 25)] #(ano, mes e dia)
#colocou todos os dias do dt apos o dia 25/02/21

            number  Mes
datas
2021-02-26      56    2
2021-02-27      57    2
2021-02-28      58    2
2021-03-01      59    3
2021-03-02      60    3
2021-03-03      61    3
2021-03-04      62    3
2021-03-05      63    3
2021-03-06      64    3
2021-03-07      65    3
2021-03-08      66    3
2021-03-09      67    3
2021-03-10      68    3
2021-03-11      69    3
2021-03-12      70    3
2021-03-13      71    3
2021-03-14      72    3
2021-03-15      73    3
2021-03-16      74    3
2021-03-17      75    3
2021-03-18      76    3
2021-03-19      77    3
2021-03-20      78    3
2021-03-21      79    3
2021-03-22      80    3
2021-03-23      81    3
2021-03-24      82    3
2021-03-25      83    3
2021-03-26      84    3
2021-03-27      85    3
2021-03-28      86    3
2021-03-29      87    3
2021-03-30      88    3
2021-03-31      89    3
2021-04-01      90    4
2021-04-02      91    4
2021-04-03      92    4
2021-04-04      93    4
2021-04-05      94    4
2021-04-06      95    4
2021-04-07      96    4
2021-04-08      97    4
2021-04-09      98    4
2021-04-10      99    4

**ENTRADA E SAIDA DE DADOS**

In [17]:
df1 =pd.read_csv('exemplo.csv', sep=',', decimal='.')
#pega o arquivo e joga em ficheiros, dentro do codigo coloca o nome como string, se a separação esta em , ou ;
# e como voce quer que  fique os decimais, , ou .. Se o sep colocar como , e ficar bagunçado, muda para ; ate ficar organizado
#executa e chama a variavel

In [18]:
df1

          0         1         2         3
0 -0.394813 -0.694630  0.253393  0.602590
1 -2.134217  1.141381 -0.130142  0.690936
2 -0.223754  0.365133 -0.104233 -0.182788
3  0.108066  0.331332  0.053708 -0.280468
4  0.085290  0.740834 -0.596941  0.243950

In [15]:
df1 =pd.read_csv('exemplo.csv', sep=',', decimal='.', index_col = 2)
#comando index_col transforma a coluna que vc pede em indice

In [16]:
df1

                  0         1         3
2
 0.253393 -0.394813 -0.694630  0.602590
-0.130142 -2.134217  1.141381  0.690936
-0.104233 -0.223754  0.365133 -0.182788
 0.053708  0.108066  0.331332 -0.280468
-0.596941  0.085290  0.740834  0.243950

In [25]:
df1.to_csv('exemplo2.csv', sep=';', decimal=',')
#cria um arquivo em csv no ficheiro

Excel

In [26]:
#Bibliotecas necessárias para trabalhar com excel
!pip install xlrd
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.8/dist-packages (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.8/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl) (1.1.0)

In [34]:
pd.read_excel('PLANEJAMENTO_MENSAL.xlsx')
#coloquei arquivo do excel no ficheiro e importei

/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,"INVESTIMENTO R$500,00",NaN,MÊS:___________________________,NaN,RETORNO DIARIO 7%
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,DIA,% RETORNO DIARIO,INVESTIMENTO,LUCRO DIARIO,SALDO ACUMULADO
3,NaN,1,0.07,500,35,535
4,NaN,2,0.07,535,37.45,572.45
5,NaN,3,0.07,572.45,40.0715,612.5215
6,NaN,4,0.07,612.5215,42.876505,655.398005
7,NaN,5,0.07,655.398005,45.87786,701.275865
8,NaN,6,0.07,701.275865,49.089311,750.365176
9,NaN,7,0.07,750.365176,52.525562,802.890738
10,NaN,8,0.07,802.890738,56.202352,859.09309
11,NaN,9,0.07,859.09309,60.136516,919.229606
12,NaN,10,0.07,919.229606,64.346072,983.575679
13,NaN,11,0.07,983.575679,68.850298,1052.425976
14,NaN,12,0.07,1052.425976,73.669818,1126.095794
15,NaN,13,0.07,1126.095794,78.826706,1204.9225
16,NaN,14,0.07,1204.9225,84.344575,1289.267075
17,NaN,15,0.07,1289.267075,90.248695,1379.51577
18,NaN,16,0.07,1379.51577,96.566104,1476.081874
19,NaN,17,0.07,1476.081874,103.325731,1579.407605
20,NaN,18,0.07,1579.407605,110.558532,1689.966138
21,NaN,19,0.07,1689.966138,118.29763,1808.263768
22,NaN,20,0.07,1808.263768,126.578464,1934.842231
23,NaN,21,0.07,1934.842231,135.438956,2070.281187
24,NaN,22,0.07,2070.281187,144.919683,2215.200871
25,NaN,23,0.07,2215.200871,155.064061,2370.264931
26,NaN,24,0.07,2370.264931,165.918545,2536.183477
27,NaN,25,0.07,2536.183477,177.532843,2713.71632
28,NaN,26,0.07,2713.71632,189.960142,2903.676462
29,NaN,27,0.07,2903.676462,203.257352,3106.933815
30,NaN,28,0.07,3106.933815,217.485367,3324.419182
31,NaN,29,0.07,3324.419182,232.709343,3557.128525
32,NaN,30,0.07,3557.128525,248.998997,3806.127521
33,NaN,31,0.07,3806.127521,266.428926,4072.556448
34,NaN,TOTAL MÊS,NaN,3806.127521,266.428926,4072.556448

In [40]:
pd.to_excel('PLANEJAMENTO_MENSAL.xlsx')
#nao consegui executar

AttributeError: ignored

HTML 

---


A função Pandas read_html irá ler tabelas fora de uma página da Web e retornar uma lista de objetos DataFrame:

In [39]:
import pandas as pd

In [44]:
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [42]:
df

[                         Bank NameBank           CityCity StateSt  CertCert  \
 0                    Almena State Bank             Almena      KS     15426
 1           First City Bank of Florida  Fort Walton Beach      FL     16748
 2                 The First State Bank      Barboursville      WV     14361
 3                   Ericson State Bank            Ericson      NE     18265
 4     City National Bank of New Jersey             Newark      NJ     21111
 ..                                 ...                ...     ...       ...
 558                 Superior Bank, FSB           Hinsdale      IL     32646
 559                Malta National Bank              Malta      OH      6629
 560    First Alliance Bank & Trust Co.         Manchester      NH     34264
 561  National State Bank of Metropolis         Metropolis      IL      3815
 562                   Bank of Honolulu           Honolulu      HI     21029

                  Acquiring InstitutionAI Closing DateClosing  FundFund
 0                            Equity Bank    October 23, 2020     10538
 1              United Fidelity Bank, fsb    October 16, 2020     10537
 2                         MVB Bank, Inc.       April 3, 2020     10536
 3             Farmers and Merchants Bank   February 14, 2020     10535
 4                        Industrial Bank    November 1, 2019     10534
 ..                                   ...                 ...       ...
 558                Superior Federal, FSB       July 27, 2001      6004
 559                    North Valley Bank         May 3, 2001      4648
 560  Southern New Hampshire Bank & Trust    February 2, 2001      4647
 561              Banterra Bank of Marion   December 14, 2000      4646
 562                   Bank of the Orient    October 13, 2000      4645

 [563 rows x 7 columns]]

In [45]:
df[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534
...,...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645